* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* Brand */
  --brand-light: #F67841;
  --brand-mid: #F3541C;
  --brand-dark: #E43A12;

  /* Text */
  --text-primary: #292524;
  --text-secondary: #57534E;
  --text-tertiary: #8F8881;
  --text-highlight: #E43A12;
  
  /* Surface */
  --surface-primary: #FFFFFF;
  --surface-secondary: #FEE7D6;
  --surface-disabled: #E7E5E4;

  /* Stroke */
  --stroke-default: #D6D3D1;
  --stroke-highlight: #F3541C;

  /* Semantic */
  --semantic-error: #DC2626;

  /* Supporting  */
  --orange: #F9A474;
  --yellow: #FEDF6F;
  --green: #C7D78D;
  --blue: #B8CEDC;
  --violet: #C3B2E7;
  --pink: #F682A5;

  /* Tipography */
  --font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);
  --h1: 600 2rem/1.2 var(--font-family);
  --h2: 600 1.5rem/1.2 var(--font-family);
  --h3: 600 1.25rem/1.2 var(--font-family);
  --h4: 600 1rem/1.2 var(--font-family);

  /* zoom: 60%; */
}

body {
  overflow: hidden;

  font: var(--text);
  color: var(--text-secondary);

  h1, h2, h3, h4 {
    color: var(--text-primary);
  }

  h1 {
    font: var(--h1);
  }

  h2 {
    font: var(--h2);
  }

  h3 {
    font: var(--h3);
  }

  h4 {
    font: var(--h4);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}